body{
	font-family:'Crimson Text', serif;
	font-size:1em;
	background: /*#FC0*/whitesmoke fixed;
	padding: 0px;
	margin: 0px;
}

#corps_large{
	width: 1000px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 6px;
	border-radius:  4px;
	/*box-shadow: 4px black;*/
	text-align: justify;
	background: #76c2b3;
}

#corps_moyen{
	width:905px;
	margin: auto;
	margin-bottom: 8px;
	padding: 5px;
	background: #76c2b3;
	border-radius: 200px 6px 6px;
}
header{
	margin:0px;
	padding: 0px;
}

header img#logo{
	margin: 0px;
	margin-left: 40px;
	padding: 0px;
	border: solid #0c6b58;
	display: inline-block;
	vertical-align: top;
}

#corps_petit{
	background: #e7f3e5;
	border-radius: 200px 200px 6px 6px;
	padding: 0px;
}

.menu{
	margin: 0px;
	padding:3px;
	display:block;
	text-align: center;
	list-style:none;
}

.menu li{
	margin: 0px 15px 0px 0px;
	padding: 0px;
	float: left;
	text-align:center;
}

.menu li a{
	padding: 3px 11px;
	display: block;
	color: #FFF;
	text-decoration: none;
	font-family: Arno Pro;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

.menu li a:hover{
	padding: 3px 11px;
	display: block;
	color: #003366;
	text-decoration: none;
	background-color: #FC0;
	border-radius: 7px;
	/* font-size: 25px; Mon Ajout */
}

.contenu{
	border-radius: 7px;
	margin-top: 0px;
	padding-top: 5px;
	padding: 3px;
}

nav{
	border-top: solid #76c2b3 5px;
	border-bottom: solid #76c2b3 5px;
	width: 900px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	height: 2.4em;
	background-color: blue;
}

nav a{
	font-size: 1.35em;
	font-family: 'Crimson Text', serif;
	font-style: bold;
}

nav, nav ul{
	text-align: left;
	padding: 0px;
	margin: 3px;
}

footer a{
	font-size: 1.35em;
	font-family: 'Crimson Text', serif;
	font-style: bold;
}

footer ul{
	text-align: left;
	padding: 0px;
	margin: 3px;
}

#section_index{
	padding-right: 0px;

}

#div_section{
	right: 0px;
}

section article, section aside{
	display: inline-block;
	vertical-align: top;
}

section aside{
	width: 300px;
	background: -moz-linear-gradient(top, #76c2b3, #e7f3e5);
	background: -webkit-linear-gradient(top, #76c2b3, #e7f3e5);
	background: -o-linear-gradient(top, #76c2b3, #e7f3e5);
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	margin-right: 0px;
	margin-left: 0px;
	right: 0px;
	/*border: solid #76c2b3 8px;*/
	border-radius: 6px 6px 0px 0px;
}
#img-IG3
{
	list-style: none;
}
section article{
	width: 573px;
	padding-right: 5px;
	right: 0px;
	margin-left: 5px;
	padding-left: 5px;
	border-radius: 6px 6px 0px 0px;
}

aside h2{
	font-size: 1.7em;
}

footer ul li{
	border-left: solid blue 2px;
	padding-left: 2px;
	margin: 0px;
}

ul li:first-child{
	border-left: none;
}

aside a img{
	width: 0.7cm;
	margin-right: 0.3cm;
}

footer{
	border-top: solid #76c2b3 5px;
	border-bottom: solid #76c2b3 5px;
	width: 905px;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	height: 2.4em;
	background-color: #76c2b3;
}
/*Partie annime*/
div#slideShowImages{
	width: 100px;
}

div#slideShowImages img{
	width: 317px;
	height: 200px;
	padding: auto;
	margin-right: 10px;
	margin-left: 10px;
}

div#slideShowImages ul{
	display: inline;
}

/*
Mon CSS
*/
#section_ig #laune1{
	width: 895px;
	float: left;
	margin: 4px;
	background-color: darkgray;
	box-shadow: 6px 6px 6px black;
}
#section_ig{
	background-image: url("images/scripts.PNG");

}
#section_ig #laune2{
	width: 400px;
	height: 440px;
	float: left;
	margin-left: 4px;
	display: inline-block;
	background-color: whitesmoke;
}
#section_ig #laune3{
	width: 230px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;
}
#section_ig #laune4{
	width: 200px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;

}
#section_ig #laune5{
	width: 230px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;

}
#section_ig #laune6{
	width: 200px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;

}#section_ig #laune7{
	  width: 230px;
	  margin: 4px;
	  display: inline-block;
	  background-color: whitesmoke;

  }
#section_ig #laune8{
	width: 200px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;

}
#section_ig #laune9{
	width: 200px;
	margin: 4px;
	display: inline-block;
	background-color: whitesmoke;

}
#section_ig #laune10{
	width: 685px;
	min-height: 145px;
	margin: 4px;
	display: inline-block;
	vertical-align: top;
	background-color: whitesmoke;

}
#section_ig img{
	float: left;
	padding-right: 4px;
}
#contacts{
	color: white;
	width: 250px;
	height: 120px;
	vertical-align: middle;
	margin:auto;
	background-color: darkgray;
	text-align: center;
}
#contacts2{
	width: 850px;
	padding: 3px;
	min-height: 300px;
	background-color: darkgray;
	margin: auto;
}
#carlety,#ruth,#camara,#bardeche,#synthiche,#charles,#gersulia,#decy,#messie,#ecole{
	padding: 3px;
	margin: 4px;
	margin-top: 20px;
	background-color: #e7f3e5;
	border-radius: 4px;
	width: 250px;
	display: inline-block;
}
#ecole{
	width: 836px;
	text-align: center;
	text-decoration: underline;
}
#contacts form{
	text-align: center;
}
#section_pro{
	background-color: white;
}
#navpro{
	display: inline-block;
	min-height: 300px;
	width: 170px;
	border-right: 2px solid white;
	background-color: darkgray;
	text-align: right;
	padding-left: 4px;
}
#navpro h2{

}
#navpro ul{
	padding-right: 0px;
	list-style: none;
}
.active{
	background-color: white;
	right: 0px;
}
.projetlist{
	font-size: 19px;
}